<!DOCTYPE html>
<html lang="en">
<%- include("./partials/header.ejs") %>
<body>
    <% if (locals.country) {%>
            <div class="row mb-5 mt-5" >
                <div class="col d-flex flex-col flex-wrap justify-content-center align-items-center w-100">
                    <div class="text-center" style="width: 100%;">
                        <img src="<%= country.flags.png %>" class="img-fluid" alt="flag_img">
                    </div>
                    <div class="mt-4">
                        <h1 class="text-center"><%= locals.country.name.common %></h1>
                    </div>
                </div>
            </div>
            <div class="row d-flex">
                <div class="col">
                        <ul class="list-group-flush">
                            <% if (country.name.common) { %>
                                <li class="list-group-item"><h2><span style="color: var(--highlighted-text); font-weight: bold;">Name: </span><%= country.name.common%>(<%= country.cca2 %>)</h2></li>
                            <% } %>
                            <% if (country.capital) { %>
                                <li class="list-group-item"><h2><span style="color: var(--highlighted-text); font-weight: bold;">Capital: </span><%= country.capital %></h2></li>
                            <% } %>
                            <% if (country.region) { %>
                                <li class="list-group-item"><h2><span style="color: var(--highlighted-text); font-weight: bold;">Region: </span><%= country.region%></h2></li>
                            <% } %>
                            <% if (country.subregion) { %>
                                <li class="list-group-item"><h2><span style="color: var(--highlighted-text); font-weight: bold;">Subregion: </span><%= country.subregion%></h2></li>
                            <% } %>
                            <% if (country.continents && country.continents.length === 1) { %>
                                <li class="list-group-item"><h2><span style="color: var(--highlighted-text); font-weight: bold;">Continents: </span><%= country.continents[Object.keys(country.continents)[0]] %></h2></li>
                            <% } else if(country.continents) { %>
                                <li class="list-group-item">
                                    <h2><span style="color: var(--highlighted-text); font-weight: bold;">Continents: </span></h2>
                                    <ul>
                                        <% for (const key in country.continents) { %>
                                            <li> <h2><%= country.continents[key] %></h2></li>
                                        <% } %>
                                    </ul>
                                </li>
                            <% } %>
                            <% if (country.languages && country.languages.length === 1) { %>
                                <li class="list-group-item"><h2><span style="color: var(--highlighted-text); font-weight: bold;">Languages: </span><%= country.languages[Object.keys(country.languages)[0]] %></h2></li>
                            <% } else if(country.languages) { %>
                                <li class="list-group-item">
                                    <h2><span style="color: var(--highlighted-text); font-weight: bold;">Languages: </span></h2>
                                    <ul>
                                        <% for (const key in country.languages) { %>
                                            <li><h2><%= country.languages[key] %></h2></li>
                                        <% } %>
                                    </ul>
                                </li>
                            <% } %>
                            <% if (country.independent) { %>
                                <li class="list-group-item"><h2><span style="color: var(--highlighted-text); font-weight: bold;">Independent: </span>Yes</h2></li>
                            <% } else { %>
                                <li class="list-group-item"><h2><span style="color: var(--highlighted-text); font-weight: bold;">Independent: </span>No</h2></li>
                            <% } %>

                            <% if (country.unMember) { %>
                                <li class="list-group-item"><h2><span style="color: var(--highlighted-text); font-weight: bold;">UN Member: </span>Yes</h2></li>
                            <% } else { %>
                                <li class="list-group-item"><h2><span style="color: var(--highlighted-text); font-weight: bold;">UN Member: </span>No</h2></li>
                            <% } %>

                            <% if (country.currencies) { %>
                                <li class="list-group-item">
                                    <h2><span style="color: var(--highlighted-text); font-weight: bold;">Currencies: </span></h2>
                                    <ul>
                                        <% for (const key in country.currencies) { %>
                                            <li>
                                                <h2><%= country.currencies[key].name %> (<%= country.currencies[key].symbol %>)</h2>
                                            </li>
                                        <% } %>
                                    </ul>
                                </li>
                            <% } %>

                            <% if (country.latlng) { %>
                                <li class="list-group-item"><h2><span style="color: var(--highlighted-text); font-weight: bold;">Latitude: </span><%= country.latlng[0] %> </br><span style="color: var(--highlighted-text); font-weight: bold;">Longitude: </span><%= country.latlng[1] %></h2></li>
                            <% } %>

                            <% if (country.capitalInfo) { %>
                                <li class="list-group-item">
                                    <h2><span style="color: var(--highlighted-text); font-weight: bold;">Capital info: </span></h2>
                                    <ul>
                                        <% for (const key in country.capitalInfo) { %>
                                            <% const value = country.capitalInfo[key]; %>
                                            <li>
                                                <h3>
                                                    <% if (key === "latlng") {%>
                                                        <strong><%= key %>(lat, long): </strong> <%= Array.isArray(value) ? value.join(', ') : value %></li>
                                                    <% } else { %>
                                                        <strong><%= key %>: </strong> <%= Array.isArray(value) ? value.join(', ') : value %></li>
                                                        <% } %>
                                                </h3>
                                        <% } %>
                                    </ul>
                                </li>
                            <% } %>

                            <% if (country.landlocked) { %>
                                <li class="list-group-item"><h2><span style="color: var(--highlighted-text); font-weight: bold;">Landlocked: </span>Yes</h2></li>
                            <% } else { %>
                                <li class="list-group-item"><h2><span style="color: var(--highlighted-text); font-weight: bold;">Landlocked: </span>No</h2></li>
                            <% } %>

                            <% if (country.borders && country.borders.length > 0) { %>
                                <li class="list-group-item">
                                    <h2><span style="color: var(--highlighted-text); font-weight: bold;">Borders: </span></h2>
                                    <ul>
                                        <% country.borders.forEach(border => { %>
                                            <li><h3><%= border %></h3> </li>
                                        <% }); %>
                                    </ul>
                                </li>
                            <% } %>
                            <% if (country.area) { %>
                                <li class="list-group-item"><h2><span style="color: var(--highlighted-text); font-weight: bold;">Area(km²): </span></h2>
                                    <h3> <%= country.area%></h3>
                                </li>
                            <% } %>

                            <% if (country.population) { %>
                                <li class="list-group-item"><h2><span style="color: var(--highlighted-text); font-weight: bold;">Population: </span></h2>
                                    <h3> <%= country.population%></h3>
                                </li>
                            <% } %>

                            <% if (country.maps) { %>
                                <li class="list-group-item">
                                    <h2><span style="color: var(--highlighted-text); font-weight: bold;">Maps: </span></h2>
                                    <ul>
                                        <% for (const key in country.maps) { %>
                                            <li>
                                                <h3 style="display: inline; text-decoration: none;"><strong><%= key %>: </strong><a href="<%= country.maps[key] %>"><%= country.maps[key] %></a></h3>
                                            </li>
                                        <% } %>
                                    </ul>
                                </li>
                            <% } %>

                            <% if (country.timezones && country.timezones.length > 0) { %>
                                <li class="list-group-item">
                                    <h2><span style="color: var(--highlighted-text); font-weight: bold;">Timezones: </span></h2>
                                    <ul>
                                        <% country.timezones.forEach(timezone => { %>
                                            <li><h3><%= timezone %></h3> </li>
                                        <% }); %>
                                    </ul>
                                </li>
                            <% } %>

                            <% if(country.postalCode) {%>
                                <li class="list-group-item">
                                    <h2><span style="color: var(--highlighted-text); font-weight: bold;">Postal code: </span></h2>
                                    <% for (const key in country.postalCode) {%>
                                        <h3><strong><%= key %>: </strong> <%= country.postalCode[key] %></h3>
                                    <% } %>
                                </li>
                            <% } %>

                            <% if (country.startOfWeek) { %>
                                <li class="list-group-item"><h2><span style="color: var(--highlighted-text); font-weight: bold;">Start of Week: </span><%= country.startOfWeek %></h2></li>
                            <% } %>

                            <% if(country.flags) {%>
                                <li class="list-group-item">
                                    <h2><span style="color: var(--highlighted-text); font-weight: bold;">Flags imgs: </span></h2>
                                    <% for (const key in country.flags) {%>
                                        <% if(key === "alt") {%>
                                            <h3><strong><%= key %>:</strong><%= country.flags[key] %></h3>
                                        <% } else { %>
                                            <h3><strong><%= key%>: </strong>
                                                <a href="<%= country.flags[key] %>"><%= country.flags[key] %> </a>
                                            </h3>
                                        <% } %>
                                    <% } %>
                                <% } %>
                            </li>
                            <% if (country.flag) { %>
                                <li class="list-group-item"><h2><span style="color: var(--highlighted-text); font-weight: bold;">Flag's emoji: </span><%= country.flag %></h2></li>
                            <% } %>

                            <% if(country.coatOfArms) {%>
                                <li class="list-group-item">
                                    <h2><span style="color: var(--highlighted-text); font-weight: bold;">Coat of arms: </span></h2>
                                    <% for (const key in country.coatOfArms) {%>
                                        <h3><strong><%= key%>: </strong>
                                            <a href="<%= country.coatOfArms[key] %>"><%= country.coatOfArms[key] %> </a>
                                        </h3>
                                    <% } %>
                                <% } %>
                            </li>
                        </ul>
                </div>
            </div>
        <footer>
            <%- include("./partials/footer.ejs") %>
        </footer>
    <%}; %>
</body>
</html>


<!-- city: Il nome della città. In questo caso, "Roma".
state: Lo stato in cui si trova la città. In questo caso, "Latium".
country: Il paese in cui si trova la città. In questo caso, "Italy".
location: Le coordinate geografiche della città. In questo caso, [12.4509, 41.9089].
current: I dati sulla qualità dell'aria e sul tempo.
pollution: I dati sulla qualità dell'aria.
ts: La data e l'ora in cui sono stati raccolti i dati. In questo caso, "2023-10-16T12:00:00.000Z".
aqius: L'indice di qualità dell'aria degli Stati Uniti (AQIUS), che è una misura della qualità dell'aria in base a un'ampia gamma di inquinanti. In questo caso, 42.
mainus: Il principale inquinante che contribuisce all'AQIUS. In questo caso, "p2", che indica particolato fine.
aqicn: L'indice di qualità dell'aria della Cina (AQICN), che è una misura della qualità dell'aria in base a un'ampia gamma di inquinanti. In questo caso, 15.
maincn: Il principale inquinante che contribuisce all'AQICN. In questo caso, "p2", che indica particolato fine.
weather: I dati sul tempo.
ts: La data e l'ora in cui sono stati raccolti i dati. In questo caso, "2023-10-16T12:00:00.000Z".
tp: La temperatura in gradi Celsius. In questo caso, 20.
pr: La pressione atmosferica in millibar. In questo caso, 1015.
hu: L'umidità relativa in percentuale. In questo caso, 67.
ws: La velocità del vento in metri al secondo. In questo caso, 2,57.
wd: La direzione del vento in gradi. In questo caso, 40.
ic: Il codice del tempo. In questo caso, "04d", che indica cielo sereno. -->

